<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :First_year %><br>
    <%= f.number_field :First_year %>
  </div>
  <div class="field">
    <%= f.label :Last_year %><br>
    <%= f.text_field :Last_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
